<div>
  <div>
    <p>Amount of data: <%= amount.rows[0].count %></p> 
  </div>
  <table class="grid table">
      <tr class="row table-header">
        <th class="col-2">Dags</th>
        <th class="col-2">Nafn</th>
        <th class="col-6">Athugasemd</th>
      </tr>
      <% data.forEach((item) => { %>
        <tr class="row table-data">
          <% let dStr = new Date(item.signed).toDateString() %> 
          <td class="col-2"><%= dStr %></td>
          <% if (!item.anonymous) { %>
            <td class="col-2"><%= item.name; %></td>
          <% } else { %>
            <td class="col-2"></td>
          <% } %>
          <td class="col-8"><%= item.comment %></td>
          <% if(usertest !== '') { %>
            <td><form method="post" action="/delete/<%= item.id %> ">
              <input type="submit" value="delete">
            </form></td>
          <% } %> 
        </tr>
      <% }) %> 
  </table>
</div>
<div>
  <% if(parseInt(curPage) === 0) { %>
    <p>Back</p>
  <% } else { %>
    <a href="/<%= parseInt(curPage) - 1 %>">Back</a>
  <% } %>  
  <p>current page: <%= (parseInt(curPage)+1) + '/' + Math.round(amount.rows[0].count/50) %>  </p>
  <% if((Math.round(amount.rows[0].count/50)-1) <= (curPage)) { %>
    <p>no more</p>
  <% } else { %>
    <a href="/<%= parseInt(curPage) + 1 %>">Next</a>
  <% } %> 
</div>